<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/common/reset.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/admin/common.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/admin/main.css}" />
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script th:src="@{/assets/js/admin/common.js}"></script>
    <title>학업성취도 평가 관리자</title>
</head>
<body>
<div class="wrap">
    <div class="list-wrap">
        <ul class="list-tab">
            <li class="active">
                <a href="javascript:;">공지사항 관리</a>
            </li>
            <li>
                <a href="javascript:;">회원 관리</a>
            </li>
        </ul>
        <!-- s: 시험지 관리 -->
        <div class="list-cnt on">

            <form  action="/admin/main" method="get">
                <div class="type">
                    <div class="select" style="margin-bottom:0px;">
<!--                        <span class="txt">서비스 구분</span>-->
<!--                        <select name="searchField" id="">-->
<!--                            <option value="">제목+내용</option>-->
<!--                            <option th:selected="${pageDTO.searchField == 'title'}" value="title">제목</option>-->
<!--                            <option th:selected="${pageDTO.searchField == 'content'}" value="content">내용</option>-->
<!--                        </select>-->
                    </div>
<!--                    <input name="searchValue" type="text" class="search-input" placeholder="검색어를 입력하세요." th:value="${pageDTO.searchValue}" maxlength="100">-->
<!--                    <button type="submit">검색</button>-->
                </div>
            </form>

            <div class="table-wrap">
                <div class="table-top">
            <span class="txt">
              총
              <em>00</em>
              개
            </span>
                    <div class="btn-wrap">
<!--                        <a href="javascript:;" class="pop-open" data-name="pop-paper">시험지 등록</a>-->
                        <a href="javascript:;" class="pop-open" data-name="pop-template">공지사항 등록</a>
                        <a href="javascript:;" class="pop-open" data-name="pop-delete">삭제</a>
                    </div>
                </div>
                <table>
                    <colgroup>
                        <col width="3%">
                        <col width="3%">
                        <col width="30%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="chk_all" id="chk_all" >
                        </th>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>등록일</th>
                        <th>속성/편집</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="item, status:${pageinfo}">
                        <td>
                            <input type="checkbox" name="chk01" id="chk01">
                        </td>
                        <td th:text="${item.noticeId}"></td>
                        <td>
                            <a style="background-color: white" th:text="${item.title}" th:href="@{/admin/view/{noticeId}(noticeId=${item.noticeId})}"></a>
                        </td>
                        <td th:text="${item.adminName}"></td>
                        <td th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <a href="javascript:;" class="pop-open" data-name="pop-property">속성</a>
                            <a href="javascript:;">편집</a>
                        </td>
                    </tr>
                    <tr th:if="${pageinfo.isEmpty()}">
                        <td colspan="6">검색 결과가 없습니다.</td>
                    </tr>
                    <tr>
<!--                        <td colspan="6">-->
<!--                            <div th:replace="main/paging :: paging"></div>-->
<!--                        </td>-->
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- e: 시험지 관리 -->

        <!-- s: 응시자 관리 -->
        <div class="list-cnt">
            <div class="table-wrap">
                <div class="table-top">
            <span class="txt">
              총
              <em>00</em>
              개
            </span>
                    <select name="" id="">
                        <option value="">30개 보기</option>
                    </select>
                </div>
                <table>
                    <colgroup>
                        <col width="3%">
                        <col width="3%">
                        <col width="*">
                        <col width="*">
                        <col width="*">
                        <col width="*">
                        <col width="8%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="chk_all" id="chk_all">
                        </th>
                        <th>번호</th>
                        <th>닉네임</th>
                        <th>핸드폰번호</th>
                        <th>응시코드</th>
                        <th>최초 인증일자</th>
                        <th>인증코드 전송</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" name="chk01" id="chk01">
                        </td>
                        <td>1</td>
                        <td>김재롱</td>
                        <td>010-1234-XXXX</td>
                        <td>123456</td>
                        <td>YYYY.MM.DD</td>
                        <td>
                            <a href="javascript:;" class="pop-open" data-name="pop-send">발송</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="chk02" id="chk02">
                        </td>
                        <td>2</td>
                        <td>백재롱</td>
                        <td>010-1234-XXXX</td>
                        <td>123456</td>
                        <td>YYYY.MM.DD</td>
                        <td>
                            <a href="javascript:;" class="pop-open" data-name="pop-send">발송</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="chk03" id="chk03">
                        </td>
                        <td>3</td>
                        <td>윤재롱</td>
                        <td>010-1234-XXXX</td>
                        <td>123456</td>
                        <td>YYYY.MM.DD</td>
                        <td>
                            <a href="javascript:;" class="pop-open" data-name="pop-send">발송</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="paginav">
                <a href="#">&lt;</a>
                <em>1</em>
                <em>/</em>
                <em>10</em>
                <a href="#">&gt;</a>
            </div>
        </div>
        <!-- e: 응시자 관리 -->


    </div>
    <!-- s: 삭제 팝업 -->
    <div class="pop-wrap" data-name="pop-delete">
        <div class="pop-cnt">
        <span class="txt">
          삭제할까요?<br>삭제 후에는 취소가 불가합니다.
        </span>
            <div class="btn-cnt">
                <button>확인</button>
                <button class="pop-close">취소</button>
            </div>
        </div>
    </div>
    <!-- e: 삭제 팝업 -->

    <!-- s: 발송 팝업 -->
    <div class="pop-wrap" data-name="pop-send">
        <div class="pop-cnt">
        <span class="txt">
          발송되었습니다.
        </span>
            <div class="btn-cnt">
                <button class="pop-close">확인</button>
            </div>
        </div>
    </div>
    <!-- e: 발송 팝업 -->

    <!-- s: 시험지 등록 팝업 -->
    <div class="pop-wrap pop-edit" data-name="pop-paper">
        <div class="pop-header">
            <span class="txt">시험지 등록</span>
            <button class="pop-close" type="button">
                <span class="hbar"></span>
                <span class="hbar"></span>
            </button>
        </div>
        <div class="pop-cnt">
            <button type="button">저장하기</button>
            <div class="cnt-wrap">
                <div class="property type02">
                    <span class="txt">시험지 등록</span>
                    <table>
                        <tr>
                            <th>서비스 구분</th>
                            <td>
                                <select name="sel00" id="sel00">
                                    <option value="">천재교육</option>
                                    <option value="">천재교과서</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>학교급</th>
                            <td>
                                <select name="sel01" id="sel01">
                                    <option value="">초등</option>
                                    <option value="">중등</option>
                                    <option value="">고등</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>학년</th>
                            <td>
                                <select name="sel02" id="sel02">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>과목</th>
                            <td>
                                <select name="sel03" id="sel03">
                                    <option value="">국어</option>
                                    <option value="">영어</option>
                                    <option value="">수학</option>
                                    <option value="">사회</option>
                                    <option value="">과학</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>회차</th>
                            <td>
                                <select name="sel04" id="sel04">
                                    <option value="">1회</option>
                                    <option value="">2회</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>시험지명</th>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <th>문항 수</th>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- e: 시험지 등록 팝업 -->

    <!-- s: 공지사항 등록 팝업 -->
    <div class="pop-wrap pop-edit" data-name="pop-template" style="width: 1000px;" >
        <div class="pop-header">
            <span class="txt">공지사항 등록</span>
            <button class="pop-close" type="button">
                <span class="hbar"></span>
                <span class="hbar"></span>
            </button>
        </div>
        <div class="pop-cnt">
            <div class="cnt-wrap" style="justify-content: center;">
                <div class="view">
                    <form class="list-cnt on" method="post" action="/admin/regist">
                        <table>
                            <tr >
                                <th>
                                    <span>제목</span>
                                </th>
                                <td>
                                    <input type="text" name="title">
                                </td>
                            </tr>
<!--                            <tr>-->
<!--                                <th>-->
<!--                                    <span>첨부 파일</span>-->
<!--                                </th>-->
<!--                                <td>-->
<!--                                    <input type="file" name="file1">-->
<!--                                </td>-->
<!--                            </tr>-->
                            <tr>
                                <th>
                                    <span>내용</span>
                                </th>
                                <td>
                                    <textarea cols="30" rows="10" name="content"></textarea>
                                </td>
                            </tr>

                        </table>
                        <div style="text-align: center">
                            <button type="submit" style="padding: 12px;">등록하기</button>
                            <button type="reset" style="padding: 12px;">초기화</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- e: 공지사항 등록 팝업 -->

    <!-- s: 공지사항 속성 팝업 -->
    <div class="pop-wrap pop-edit" data-name="pop-property">
        <div class="pop-header">
            <span class="txt">시험지 속성</span>
            <button class="pop-close" type="button">
                <span class="hbar"></span>
                <span class="hbar"></span>
            </button>
        </div>
        <div class="pop-cnt">
            <button type="button">저장하기</button>
            <div class="cnt-wrap">
                <div class="property type02">
                    <span class="txt">시험지 속성</span>
                    <table>
                        <tr>
                            <th>제목</th>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <th>작성일</th>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- e: 공지사항 속성 팝업 -->

    <div class="dim"></div>
</div>
</body>
</html>