<!DOCTYPE html>
<html lang="ko"  
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
>
<head></head>
    <meta charset="UTF-8">
    <title>dummy1</title>
</head>
<body>
    <h1>dummy1</h1>
    <button id="btn">버튼</button>
    
    <script>
        //https://tsherpa.item-factory.com/
        //req body : { "itemIdList": [966536, 1588525, 1588526, 1589103, 1589104] }
        document.getElementById("btn").addEventListener("click", function() {
            async function fetchItemList() {
                const response = await fetch("https://tsherpa.item-factory.com/item/item-list", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ itemIdList: [966536, 1588525, 1588526, 1589103, 1589104] })
                });
                const itemList = await response.json();
                console.log(itemList);
            }
            fetchItemList();
        });
    </script>
</body>
</html>